.portfolios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 50px;
}
.text-container {
    margin: 50px 100px;
    font-size: 1.4rem;
}
.text-container ul p{
    margin: 40px 0;
}
.text-container p {
    font-size: 1.6rem;
}
.text-container li{
    padding: 15px;
}
.text-container a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--kva);
    border: 5px solid var(--kva);
    padding: 5px;
}
.text-container a:hover {
    color: darkred;
    border-color:darkred;
}
.text-container a:active {
    color: var(--white);
    border-color:var(--white);
}
.prjImage {
    width: 500px;
    height: 300px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid var(--black);
    box-shadow: 20px 20px 15px rgba(27, 24, 24, 0.32);
    transition: 1s;
}
.prjImage.white {
    box-shadow: 20px 20px 15px var(--white);
    transition: 1s;
}
.prjImage:hover {
    box-shadow: 20px 20px 15px var(--kva);
    border: 1px solid var(--kva);
    transition: 1s;
}
.linkToBack {
    font-size: 30px;
    color: var(--body-white);
    transition: 0.7s;
    cursor: pointer;
}
.linkToBack:hover, .linkToBack.white:hover {
    color: var(--kva);
}
.linkToBack.white {
    color: var(--black);
    transition: 0.7s;
}
.slider-container {
    margin:0 10%;
}
.prj-img {
    width: 80%;
    border: 3px solid var(--black);
    border-radius: 20px;
}


