.portfolios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 40px;
}
.prjImage {
    width: 500px;
    height: 300px;
    cursor: pointer;
    border-radius: 15px;
    border: 1px solid var(--black);
    box-shadow: 15px 15px 15px rgba(27, 24, 24, 0.32);
    transition: 1s;
}
.prjImage.white {
    box-shadow: 15px 15px 15px var(--white);
    transition: 1s;
}
.prjImage:hover {
    box-shadow: 15px 15px 15px var(--kva);
    border: 1px solid var(--kva);
    transition: 1s;
}
@media screen and (max-width: 768px) {
    .portfolios-container {
        display: grid;
        justify-content: center;
    }
    .prjImage {
        width: 350px;
        height: 200px;
    }
}



