.footer {
    font-size: 1rem;
    background-color: var(--black);
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: 1s;
}
.footer.white {
    background-color: var(--white);
    transition: 1s;
}
.footer-block1 {
    text-align: center;
    cursor: pointer;
}
.footer-block1:hover{
    font-size: 1.2rem;
    color: var(--kva);
    transition: 0.7s;
}
.footer-block1:active{
    font-size: 1rem;
}
.footer a{
    font-size: 1.4rem;
    margin: 0 40px;
    color: var(--white);
    transition: 0.7s;
}
.footer a:hover, .footer.white a:hover{
    font-size: 30px;
    color: var(--kva);
}
.footer.white a {
    color: var(--black);
}
.top-icon{
    font-size: 1.2rem;
}
.footer-block1 p, img {
    margin: 0;
}


